.success {
  background-color: lightgreen;
  color: black;
  line-height: 2em;
}

.failure {
  line-height: 2em;
  background-color: darkred;
  color: white;
}

td.no-padding {
  padding: 0px !important;
}

td, th {
  text-align: center;
}

td.left, th.left {
  text-align: left;
}
